<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add name="LOAD_XML_URL" connectionString="XML/load.xml"></add>
    <add name="FILES_XML_URL" connectionString="XML/Files.xml"></add>
    <add name="IMAGE_XML_URL" connectionString="XML/ImageModle.xml"></add>
    <add name="MAIN_FORM_IMAGE_XML_URL" connectionString="XML/MainImageForm.xml"></add>
    
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>